/* 
    Document   : style
    Created on : 24.11.2012, 17:10:14
    Author     : olegabr
    Description:
        The css for QListPanel qcubed plugin.
*/

ul.qq_list_panel {
    list-style-type: none;
    margin: 0;
    padding: 0 5px;
}
ul.qq_list_panel li {
    text-align:center;
    padding: 3px 0 3px 5px;
}
ul.qq_list_panel li:hover {
    background-color: #F1EEDF;
}
